---
const today = new Date();
import { Icon } from "astro-icon/components";
---

<footer
    class="flex flex-col items-center container mx-auto p-10 text-center gap-10 pb-40 text-black"
>
    &copy; {today.getFullYear()} TBH. All rights reserved.
    <div class="flex items-center gap-6 text-5xl">
        <a
            href="https://www.instagram.com/totalbusinesshotties/"
            target="_blank"
            class="py-1 pl-3 rounded-md border-1 border-black bg-ppink shadow-card hover:shadow-hover transition"
        >
            <Icon name="web" />
        </a>
    </div>
</footer>
